<?xml version="1.0"?>

<model>
  <name>Various floor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gianfranco Di Marco</name>
    <email>gianfrancodimarco98@outlook.it</email>
  </author>

  <description>
    Floor change in function of chosen textures
  </description>

</model>
